.container2,.quizheader,.subcontainer1,.noofquestion,.question,.optionbutton,.subcontainer2,#answerbutton,.timer,span{
    background-color: white;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 400px;
    margin-top: 40px;
}

.quizheader{
    font-size: 50px;
    font-weight: 400;
}

.subcontainer1{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 1100px;
    padding-bottom: 10px;
    color: gray;
}

.noofquestion{
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    margin-bottom: 15px;
}

.optionbutton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
    height: 140px;
    margin-left: 30px;
    outline:none
}

button{
    width: 450px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(64, 129, 248);
    margin-left:30px;
    border: 0px solid transparent;
    color: lightcyan;
    outline:none
}

.subcontainer2{
    display: flex;
    flex-direction: row;
}

.timer{
    padding-right: 10px;
}

.previousbutton, .nextbutton, .quitbutton{
    background-color: rgb(50, 50, 216);
    width: 100px;
    height: 30px;
    outline:none
}

.nextbutton{
    background-color:  rgb(30, 182, 30);
}

.quitbutton{
    background-color: red;
    outline:none
}

.correctbutton,.wrongbutton{
    width: 150px;
    height: 28px;
    border-radius: 8px;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    padding-top: 5px; 
}

.correctbutton{
    background-color: green;
}

.wrongbutton{
    background-color: red;
}

.changecolor{
    background-color: gray;
}