.container3{
    display: flex;
    flex-direction: column;
}

.result{
    margin-top: 100px;
    font-size: 35px;
    font-weight: 400;
    color:  rgb(30, 182, 30);
}

.subcontainer3, .verdicttext,.score,.description,.text,.tesxtscore{
    background-color: white;
}

.subcontainer3{
    margin-top: 20px;
    width: 700px;
    height: 280px;
}

.verdicttext{
    margin-top: 30px;
    font-size: 30px;
    color: rgb(87, 83, 83);
}

.score{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(64, 129, 248);
    font-size: 50px;
}

.description{
    display: flex;
    flex-direction: row;
    color: rgb(87, 83, 83);
}

.text{
    align-items: flex-start;
    margin-left: 30px;
}

.tesxtscore{
    margin-left: auto;
    margin-right: 30px;
}

.playagainbutton,.backbutton{
    background-color: transparent;
    border: 1px solid rgb(64, 129, 248);
    color:  rgb(64, 129, 248);
    border-radius: 0px;
    width: 145px;
    height: 30px;
}

.subcontainer4{
    margin-top: 20px;
}

.backbutton{
    color: rgb(30, 182, 30);
    border: 1px solid rgb(30, 182, 30);
}